body{
    margin: 0px;
    background-color: #C8F2EF;
    
}

.topic {
    color: #03045E;
    margin: 0 auto 0 auto;
    font-family:cursive;
    text-align: center;
    font-size: 25px;
    
}

.signIn{
    background-color:white;
    width: 300px;
    height: 295px;
    text-align: left;
}
#signIn{
    color: red;
    font-size: 28;
    text-align: center;
    font-weight: 800;
}
.next{
    font-size: 22;
    background-color: red;
    color: white;
}
footer{
    background-color: black;
    position: relative;
    top: 500px;
    height: 50px;
}
.foot1{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    padding: 10px;

}
.foot2{
    color: white;
    font-size: 20px;
    position: absolute;
    top: 5px;
    left: 70px;
    padding: 10px;

}